<div class="container">
  <div ng-app="ngchangeApp" ng-controller="ngchangeCtrl">
      <p-dropdown [options]="ClassesList" 
                  [(ngModel)]="selectedOneClass" 
                  placeholder="Select a Class" 
                  optionLabel="name" 
                  [showClear]="true" 
                  (ngModelChange)="loadStudents()" ></p-dropdown>
  </div>
  <div>
    <h3>Class Name: {{selectedOneClass ? selectedOneClass.name : 'none'}}</h3>
    <h3>Class Teacher: {{classTeacherName}}</h3>
  </div>
  <p-table [value]="classStudentsObjList">
    <ng-template pTemplate="header">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
        </tr>
    </ng-template>
  </p-table>
  <!-- <div> -->
    <!-- <app-single-student *ngFor="let i of classStudentList" [studentName]=i></app-single-student> -->
    <!-- <app-single-student *ngFor="let i of classStudentsObjList" [studentObj]=i></app-single-student> -->
  <!-- </div> -->
  <div>
    <br>
    <button pButton type="button" label="Add Student" routerLink="/formPage"></button>
  </div>
</div>